header {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 150px;
  gap: 10px;
  padding: 10px;
}
div {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  grid-column: 1/1;
  grid-row: 1/3;
}
section {
  /* border: 1px solid red; */

  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  gap: 15px;
}
.yellowBox {
  background-color: yellow;
}

main {
  /* border: 1px solid black; */
  padding: 10px;
  /* height: 200px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.img {
  height: 200px;
  width: 200px;
  background-color: red;
}

.textBox {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  /* body {
    background-color: red;
  } */
  header {
    grid-template-columns: 1fr 1fr;
  }
  .box1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  section {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body {
    /* background-color: green; */
  }
  header {
    grid-template-columns: 1fr;
  }
  .box1 {
    grid-column: 1/2;
  }
  .box2 {
    grid-column: 1/2;
  }
  .box3 {
    grid-column: 1/2;
  }
  section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
