%arxaFon {
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

%flexJCBeetwen {
  display: flex;
  justify-content: space-between;
}
%FlexColumn {
  display: flex;
  flex-direction: column;
}
