* {
  margin: 0;
}
h1 {
  color: white;
}
.container {
  background-color: rgb(59, 58, 58);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-top: 5px solid black;
  /* animation-name: upDown; */
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* animation-delay: 2s; */
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;

  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate-reverse; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: upDown;
}

.box:hover {
  /* animation-name: upDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards; */
}

@keyframes upDown {
  20% {
    /* top: 0; */
    left: 100px;
  }

  40% {
    /* top: 100px; */
    left: 300px;
  }
  60% {
    /* top: 100px; */
    left: 400px;
  }
  80% {
    /* top: 200px; */
    left: 500px;
  }
  100% {
    /* top: 200px; */
    left: 600px;
  }

  /* from{

    }
  to {
    width: 300px;
    margin-left: 200px;
    height: 300px;
  } */
}

.container2 {
  background-color: rgb(59, 58, 58);
  background-image: url("./road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 900px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  animation-name: carDrive;
  animation-duration: 3s;
}
.carBox {
  background-color: red;
  /* transform: rotateY(180deg); */
  position: absolute;
  animation-name: carDrive;
  animation-duration: 3s;
  left: 0px;
  bottom: 0px;
}

@keyframes carDrive {
  to {
    bottom: 0px;
    left: 1000px;
  }
}
